#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

/* restaurant page Styling */
/* Restaurants.module.css */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  /* padding: 2rem; */
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
}
